@media (min-width: 1025px) {
	.header .header-navigation {
		display: block !important;
    }
    
}

@media (max-width: 1024px) {
	body.page-header-fixed {
		padding-top: 107px !important; /* height of the header */
	}

	.header .mobi-toggler {
		display: block;
    }
    
@media (min-width: 1025px) and (max-width: 1205px) {
	body.page-header-fixed {
		padding-top: 121px !important;
	}

	.header .header-navigation {
		display: block !important;
		clear: both;
		margin-top: -10px;
		float: left !important;
    }
}